@import "./sass/vendors/bootstrap.scss";

@import "./sass/abstracts/mixins";
@import "./sass/abstracts/variables";
@import "./sass/abstracts/helpers";

@import "./sass/base/base";
@import "./sass/base/typography";

@import "./sass/components/buttons";

@import "./sass/layout/footer";
@import "./sass/layout/sections";

@import "./sass/sections/about";
@import "./sass/sections/contact";
@import "./sass/sections/hero";
@import "./sass/sections/projects";
#achievements ul.about-wrapper__info-text {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.8;
  padding-left: 1.5rem; /* optional: adds spacing to left */
  list-style: none;     /* optional: removes default bullet */
}
